
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Oxanium:wght@300&family=Vollkorn&display=swap');

:root{
    margin: 0;

}
body{
    font-family:'Vollkorn', serif ;
    max-width:100vw;
    min-height: 100vh;
    background-color: #906969;
    display: flex;
    align-items: center;
    justify-content: center;
     background-image: url(images/tic-tac.jpg); 
    background-position: center;
    background-size: cover; 
}
.board{
    
    width: 60%;
    
    padding: 1rem;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    border: 1px solid black;
    
    gap: 0.4rem;
    /* margin: 1rem; */
}
.cell{
    font-family:'Vollkorn', serif ; ;
    border: 5px solid rgb(15, 16, 90); 
    box-sizing: border-box;
    color:#000000;
    width: 70%;
    height: max(100px,15vh);
    font-size: 4rem;
    background-color:#f5f5f5;
    border-radius: 1rem;
 }
.custom:hover{
    color: red;
}
main{
    display: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100vh;
   
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 6rem;
    height: fit-content;
}
.player-o-score,.player-x-score{
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
} 
.player-one-name,.player-two{
    font-size: 2rem;
    color: #f5f5f5;
    text-shadow: 4px 4px rgb(5, 3, 104);
}
.turn{
    font-size: 2rem;
    font-weight: 600;
    color: white;
    text-shadow: 4px black;
    
}
/* FORM */
form{
    font-family: 'Oxanium', sans-serif;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    min-height: 50vh;
    text-align: center;
}
dialog{

     background-color:rgb(249, 210, 223); 
     border-radius: 1rem;
     color: #000000;
     box-shadow: 4px 4px 4px rgb(247, 10, 10);
}
.modal{
    min-height: 20vh;
}

label{
    padding: 1rem;
    width: 20%;
    font-size: 2.5rem;
}
.name-input{
    font-size: 1rem;
    margin: 1rem;
    width: 50%;
    padding: 0.5rem;
    border-radius: 1rem;
    border:2px solid blue;
}
.checkbox-input{
   width: 1.5rem;
    height: 1.5rem;
}
.play-btn{
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    width: 40%;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
}
.play-btn:hover{
    background-color: #E300FC;
    color:#fdf6f6;
    border: 2px solid rgb(243, 171, 171);
}
.checkbox-msg{
    display: none;
    color: orangered;
}
/* intro page */
.intro-page{
    display: block; 
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    width: 100%;
}
.winner{
    position: absolute;
} 
h1{
    color:rgb(255, 255, 255);
    font-size: 4rem;
    text-shadow: 5px 5px rgb(102, 4, 91);
}
h1:hover{
   border-bottom: 5px rgb(188, 209, 0) solid;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
   justify-content: center;
}
.human-game,.ai-game{
    font-family: 'Josefin Sans', serif;
    font-size: 2rem;
    background-color: #16006f;
    color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    border: 5px solid rgb(253, 224, 224);
    border-radius: 1rem;
    text-shadow: 1px 1px rgb(158, 0, 0);
}
.human-game:hover,.ai-game:hover{
    background-color: rgb(255, 251, 251);
    color:black;
    border: 5px solid rgb(137, 1, 119);
}

.winner{
    text-align: center;
    display:none;
    position: absolute;
    padding: 0.5rem;
    top:30%;
    width: 100%;
    background-color: #16006f70;
    color: #E300FC;
}
.play-again{
    background-color: rgb(0, 0, 0);
    color:yellow;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border:3px solid red;
}
.play-again:hover{
   background-color: white;
    color:rgb(0, 0, 0);
}